:root {
    --width-pc: 1146px;
    --width-pc-thap: 942px;

    --purple-color: #994db1;
    --blue-color: #2590ed;
    --bule-dam-color:#1234c4;
    --red-pink-color: #c74970;
    --orange-color: #ed7e4f;
    --pink-color: #ff3366;
    --black-color:  #0f0e0e;
    --text-color: #5f5f5f;
    --gray-color:#a2a2a2;

    --box-shadow: 0 0 1px rgba(0,0,0,0.05) , 0 0 3px rgba(0,0,0,0.05), 0 2px 8px rgba(0,0,0,0.05);
}

* {
    box-sizing: inherit;
    
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
}


ul {
    padding-left: 0;
    list-style: none;
}



/* Hover */



.nav-sub-child__link:hover,
.nav-sub__list:hover .nav-sub__link,
.nav-sub__list:hover,
.nav__list:hover,
.header__connect-sign:hover,
.header__connect-link:hover {
    color:var(--blue-color);
    cursor: pointer;
    transition: all 0.3s;
}



/* show-element */

.nav__list:hover .nav__child,
.nav-sub__list:hover .nav-sub-child,
.nav__list:hover .nav-sub {
    visibility: visible;
    overflow:visible;
    opacity: 1;
}

/* bc color */

.bc-purple {
    background-color: var(--purple-color) !important;
}
.bc-blue {
    background-color: var(--blue-color) !important;
}
.bc-blue-dam {
    background-color: var(--bule-dam-color) !important;
}
.bc-red-pink {
    background-color: var(--red-pink-color) !important;
}

.bc-pink {
    background-color: var(--pink-color) !important;
}
.bc-orange {
    background-color: var(--orange-color) !important;
}
.bc-text {
    background-color: var(--text-color) !important;
}
.bc-black {
    background-color: var(--black-color) !important;
}
.bc-gray {
    background-color: var(--gray-color) !important;
}

.bc-blue-circle {
    background-color: #4545e8 !important;
}



.color-purple {
    color: var(--purple-color) !important;
}
.color-blue {
    color: var(--blue-color) !important;
}
.color-bule-dam {
    color: var(--bule-dam-color) !important;
}
.color-red-pink {
    color: var(--red-pink-color) !important;
}

.color-pink {
    color: var(--pink-color) !important;
}
.color-orange {
    color: var(--orange-color) !important;
}
.color-text {
    color: var(--text-color) !important;
}
.color-black {
    color: var(--black-color) !important;
}
.color-gray {
    color: var(--gray-color) !important;
}

.color-while {
    color: #fff !important;
}


/* box-chung */
.box__popular {
    display: inline-flex;
    align-items: center;
    padding:5px 17px 5px 9px ;
    border: 1px solid #e0dede;
    border-radius: 150px;
    text-decoration: none;
    margin-right: 12px;
    margin-bottom: 16px;
}

.box__popular-circle {
    --kichthuoc: 14px;
    width: var(--kichthuoc);
    height: var(--kichthuoc);
    border-radius: 50%;
    margin-right: 10px;
}

.box__popular-text {
    font-size: 1.4rem;
    color: #0f0e0e;
    font-weight: 600;
}

.box__popular:hover .box__popular-text {
    color:#2568ef;
    transition: all 0.3s;
}




/* 
<a href="" class="box__popular">
    <div class="box__popular-circle purple"></div>
    <span class="box__popular-text">business</span>
</a> 
*/


/* btn */

.btn {
    font-size: 1.6rem;
    color: #fff;
    padding:14px 30px;
    border-radius: 6px;
    outline: none;
    border: 0;
    font-weight: 600;
}

/* 
 <button class="btn bc-blue">Subscribe</button>
*/

/* circle */






.circle {
    display:inline-flex;
    align-items: center;
    justify-content: center;
    --kichthuoc: 40px;
    --space: 20px;
    position: absolute;
    top: var(--space);
    right: var(--space);
    width: var(--kichthuoc);
    height: var(--kichthuoc);
    z-index: 10;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #fff;
    text-decoration: none;
}

.circle-icon {
    font-size: 1.6rem;
    color: #0f0e0e;
}

.circle-text {
    color: #fff;
}

.circle-icon-play {
    position: relative;
    left: -1px;
}

/* 
<div class="circle">
     <i class=" circle-icon fas fa-play"></i>
</div>
*/


/* 
<div class="circle">
    <i class=" circle-icon circle-icon-play fas fa-play"></i>
</div> */

/* 
<div class="circle bc-blue-dam">
    <span class="circle-text">8.2</span>
</div> 

*/



/* corner */


.corner {
    position: relative;
}

.corner:hover:before {
    visibility: visible;
    overflow: visible;
    transform: scale(1);
    filter: brightness(100%) !important;

}

.corner::before {
    content:"";
    display:block;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: 50px solid var(--pink-color) !important;
    border-right: 50px solid #fff  !important;
    transform-origin: bottom right;
    visibility: hidden;
    overflow: hidden;
    transform: scale(0);
    transition: 0.3s;
    filter: brightness(100%) !important;
    z-index: 10;
}




/* nav__sup-text */

.nav-have-sup {
    display: inline-flex !important;
    align-items: center;
    justify-content: unset !important;
}

.nav-sup-text {
    font-size: 1rem;
    text-transform: uppercase;
    padding: 5px 8px 3px 8px;
    border-radius: 6px;
    margin-left: 6px;
}


/* box - cuối */

.box__time {
    display:flex;
    align-items: center;
    font-size: 1.2rem;
    color: #9f9f9f;
}

.box__time-date {

}

.box__time-circle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color:#fff;
    border: 1px  solid #e0dede;
    margin: 10px 8px;
}

.box__time-red {

}



/* <div class="box__time">
<span class="box__time-date">December 10 , 2019</span>

<div class="box__time-circle"></div>

<span class="box__time-red">5 Mín read</span>
</div> */