:root {
    --width-pc: 1146px;
    --width-pc-thap: 942px;

    --purple-color: #994db1;
    --blue-color: #2590ed;
    --bule-dam-color:#2568ef;
    --red-pink-color: #c74970;
    --orange-color: #ed7e4f;
    --pink-color: #ff3366;
    --black-color:  #0f0e0e;
    --text-color: #5f5f5f;
    --gray-color:#a2a2a2;

    --box-shadow: 0 0 1px rgba(0,0,0,0.05) , 0 0 3px rgba(0,0,0,0.05), 0 2px 8px rgba(0,0,0,0.05);
}

* {
    box-sizing: inherit;
    
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
}


ul {
    padding-left: 0;
    list-style: none;
}


img {
    display: block;
}


/* Hover */



.nav-sub-child__link:hover,
.nav-sub__list:hover .nav-sub__link,
.nav-sub__list:hover,
.nav__list:hover,
.header__connect-sign:hover,
.header__connect-link:hover {
    color:var(--blue-color);
    cursor: pointer;
    transition: all 0.3s;
}


/* Hover mờ */

.recent__left:hover .recent__left-img,
.slider__list:hover .slider__item {
    filter: brightness(50%) ;
    transition: all 0.3s;

}


/* show-element */

.nav__list:hover .nav__child,
.nav-sub__list:hover .nav-sub-child,
.nav__list:hover .nav-sub {
    visibility: visible;
    overflow:visible;
    opacity: 1;
}

/* bc color */

.bc-face {
    background-color: #4267b2;
}


.bc-gg {
    background-color: #dc4e41;
}

.bc-twitter {
    background-color: #4ab3f4;
}

.bc-purple {
    background-color: var(--purple-color) ;
}
.bc-blue {
    background-color: var(--blue-color) ;
}
.bc-blue-dam {
    background-color: var(--bule-dam-color) ;
}
.bc-red-pink {
    background-color: var(--red-pink-color) ;
}

.bc-pink {
    background-color: var(--pink-color) ;
}
.bc-orange {
    background-color: var(--orange-color) ;
}
.bc-text {
    background-color: var(--text-color) ;
}
.bc-black {
    background-color: var(--black-color) ;
}
.bc-gray {
    background-color: var(--gray-color) ;
}
.bc-while {
    background-color: #fff ;
}


.bc-blue-circle {
    background-color: #4545e8 ;
}



.color-purple {
    color: var(--purple-color) !important;
}
.color-blue {
    color: var(--blue-color) !important;
}
.color-bule-dam {
    color: var(--bule-dam-color) !important;
}
.color-red-pink {
    color: var(--red-pink-color) !important;
}

.color-pink {
    color: var(--pink-color) !important;
}
.color-orange {
    color: var(--orange-color) !important;
}
.color-text {
    color: var(--text-color) !important;
}
.color-black {
    color: var(--black-color) !important;
}
.color-gray {
    color: var(--gray-color) !important;
}

.color-while {
    color: #fff !important;
}


/* font-size */

.fz-2 {
    font-size: 2rem !important;
}

.fz-1-8 {
    font-size: 1.8rem !important;
}

.fz-2-2 {
    font-size: 2.2rem !important;
}

/* box-chung */
.box__popular {
    display: inline-flex;
    align-items: center;
    padding:5px 17px 5px 9px ;
    border: 1px solid #e0dede;
    border-radius: 150px;
    text-decoration: none;
    margin-right: 12px;
    margin-bottom: 16px;
}

.box__popular-circle {
    --kichthuoc: 14px;
    width: var(--kichthuoc);
    height: var(--kichthuoc);
    border-radius: 50%;
    margin-right: 10px;
}

.box__popular-text {
    font-size: 1.4rem;
    color: #0f0e0e;
    font-weight: 600;
}

.description__global-link:hover,
.box__popular:hover .box__popular-text {
    color:var(--blue-color);
    transition: all 0.3s;
}




/* 
<a href="" class="box__popular">
    <div class="box__popular-circle bc-purple"></div>
    <span class="box__popular-text">business</span>
</a> 

<a href="" class="box__popular">
    <div class="box__popular-circle bc-blue"></div>
    <span class="box__popular-text">travel</span>
</a>

<a href="" class="box__popular">
    <div class="box__popular-circle bc-blue-dam"></div>
    <span class="box__popular-text">video</span>
</a>

<a href="" class="box__popular">
    <div class="box__popular-circle bc-red-pink"></div>
    <span class="box__popular-text">lifestyle</span>
</a>
<a href="" class="box__popular">
    <div class="box__popular-circle bc-orange"></div>
    <span class="box__popular-text">markets</span>
</a>
*/


/* btn */

.btn {
    font-size: 1.6rem;
    color: #fff;
    padding:14px 30px;
    border-radius: 6px;
    outline: none;
    border: 0;
    font-weight: 600;
}

.btn:hover {
    background-color: #48494b;
    transition: all 0.3s;
    cursor: pointer;
}

/* 
 <button class="btn bc-blue">Subscribe</button>
*/

/* circle */






.circle {
    display:inline-flex;
    align-items: center;
    justify-content: center;
    --kichthuoc: 40px;
    --space: 20px;
    position: absolute;
    top: var(--space);
    right: var(--space);
    width: var(--kichthuoc);
    height: var(--kichthuoc);
    z-index: 10;
    border-radius: 50%;
    /* background-color: #fff; */
    border: 2px solid #fff;
    text-decoration: none;
}

.circle-icon {
    font-size: 1.6rem;
    color: #0f0e0e;
}

.circle-text {
    font-size: 1.5rem;
    color: #fff;
}

.circle-icon-play {
    position: relative;
    left: -1px;
}




/* 

<div class="circle bc-while">
    <i class=" circle-icon far fa-image"></i>
</div>


<div class="circle">
    <i class=" circle-icon circle-icon-play fas fa-play"></i>
</div> 

 <div class="circle bc-blue-circle">
    <span class="circle-text">8.2</span>
</div>


*/

/* 
<div class="circle bc-blue-dam">
    <span class="circle-text">8.2</span>
</div> 

*/



/* corner */


.corner {
    position: relative;
}

.corner:hover:before {
    visibility: visible;
    overflow: visible;
    transform: scale(1);
    filter: brightness(100%) !important;

}

.corner::before {
    content:"";
    display:block;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: 50px solid var(--pink-color) !important;
    border-right: 50px solid #fff  !important;
    transform-origin: bottom right;
    visibility: hidden;
    overflow: hidden;
    transform: scale(0);
    transition: 0.3s;
    filter: brightness(100%) !important;
    z-index: 10;
}







/* nav__sup-text */

.nav-have-sup {
    display: inline-flex !important;
    align-items: center;
    justify-content: unset !important;
}

.nav-sup-text {
    font-size: 1rem;
    text-transform: uppercase;
    padding: 5px 8px 3px 8px;
    border-radius: 6px;
    margin-left: 6px;
}


/* box - cuối */

.box__time {
    display:flex;
    align-items: center;
    font-size: 1.1rem;
    color: #9f9f9f;
    font-weight: 700;
    margin: 16px 0 26px 0;
}

.box__time-date {

}

.box__time-circle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 1px  solid #e0dede;
    margin: 0px 8px;
}

.box__time-red {

}

.box__time-heading {
    font-weight: 700;
}


.color-box {
    color: #a4a4a4 !important;
}


/*

<div class="box__time">
    <div class="box__time-heading">By inhype</div>

    <div class="box__time-circle"></div>

    <span class="box__time-date">December 10, 2019</span>

    <div class="box__time-circle"></div>

    <span class="box__time-red">5 Mins read</span>
</div> 

*/


/* Animation Face In  */

@keyframes FaceIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* golbal thẻ chung */

.container__golbal {
    padding: 65px 0 45px 0;
    color: #0f0e0e;
}

.container__global-heading {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 8px;
}



.container__global-footer {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 0;
    font-weight:600
}

/* 

 <div class="container__golbal">
    <p class="container__global-heading">Travel</p>
    <p class="container__global-footer">Where are we going</p>

  </div>
*/



/* Decription Gobal */

.description__global {
    margin-top: 30px;   
}

.description__global-heading {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}

.description__global-link {
    display:block;
    font-size: 2.2rem;
    font-weight: 800;
    color: #0f0e0e;
}

.description__global-footer {
    font-size: 1.5rem;
    color: #5f5f5f;
    font-weight: 600;
    line-height: 1.4;
}

/*

<div class="description__global">
            <div class="description__global-heading">
              <a href="" class="box__popular box__margin-samll">
                <div class="box__popular-circle bc-red-pink"></div>
                <span class="box__popular-text">lifestyle</span>
            </a>
            <a href="" class="box__popular">
              <div class="box__popular-circle bc-orange"></div>
              <span class="box__popular-text">markets</span>
            </a>
            </div>

            <a href="" class="description__global-link">Five Thing You Need to Know to Start Your Day</a>

            <div class="box__time">
              <div class="box__time-heading">By inhype</div>
          
              <div class="box__time-circle"></div>
          
              <span class="box__time-date">December 10, 2019</span>
          
              <div class="box__time-circle"></div>
          
              <span class="box__time-red">5 Mins read</span>
          </div> 

          <p class="description__global-footer">From there, we generally start working on visual concepts that can make that vision more tangible. Our stakeholders are often editors with…</p>
          </div>

*/