@media (min-width: 1024px) and (max-width: 1239px) {

    /* chung-cho */

    .box__margin-samll {
        margin-bottom: 4px;
    }



    
    .nav__list {
        padding: 24px 10px;
    }
    .nav__list-icon {
        margin-left: 8px;
    }

    .nav__child {
        width: var(--width-pc-thap);
        left: -391px;
          
    }

    
    .above::before {
        display: none;
    }
    .above::after {
        right: -40px;
    }

}

@media (max-width: 1113px) {
    .test-2 {
        margin-left: 0;
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }
    .test-1 {
        margin-left: 0;
        width: 100%;
    }
    .slider__sub-list {
        width: 33.33333%;
        max-width: 100%;
        

    }
}
