

/* Abover */


.above {
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 58px;
    position: relative;
    overflow:hidden;
}



.above::after {
    content: "";
    display:block;
    position: absolute;
    z-index: 5;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #dec7ff;
    box-shadow: 0 0 20px #dec7ff6e;
    bottom: -30px;
    right: 2%;
    

}

.above::before {
    content: "";
    display:block;
    position: absolute;
    
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fe0068;
    box-shadow: 0 0 20px var(--pink-color);
    bottom: -55px;
    left: 12%;
    z-index: 5;

}

.above__new {
    text-transform: uppercase;
    color: #fff;
    padding: 7px 6px 6px 6px;
    background-color: #4cc493;
    border-radius: 4px;
    margin-right: 12px;
    font-size: 1.2rem;
}

.above__text {
    font-size: 1.5rem;
    color: #fff;

}

.above__link {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 20px;
    color: #fff;
    display:flex;
    align-items: center;
}

.above__link-icon {
    margin-left: 6px;
    font-size: 1.4rem;
}





/* Header */

/* Header__connect */


.header {
    position: relative;
    z-index: 5;
}

.header__connect {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    padding: 12px 0;
    border-bottom: 1px solid #e0dede;
}

.header__connect-link {
    color: var(--black-color);
    padding: 10px 0;
    font-weight: 600;
    transition: all 0.3s;

    
}

.header__connect-icon {
    padding-right: 16px;
}

.header__connect-present {
    padding-right: 18px;
}

.header__connect-present:nth-child(5){
    padding-left: 8px;
}

.header__connect-sign {
    padding: 10px 11px;
    font-weight: 600;
    transition: all 0.3s;

}






/* Header-Chính */





.header__main {
    display: flex;
    align-items: center;
    min-height: 100px;
}

.header__logo-img {
    display:block;
    width: 164px;
    margin-right: 32px;
}


.nav { 
    padding-left: 0;
    list-style: none;
    display:flex;
    align-items: center;

}
.nav__list {
    padding: 24px 18px;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    font-weight: 600;
    position: relative;

}

.nav__list-icon {
    margin-left: 10px;
}

.header__logo-link {
    display:block;
}

.header__btn {
    margin-left: auto;
}

.header__btn-icon {
    font-size: 1.8rem;
    position: relative;
    top: 2px;
   
}

.header__btn {
    display: flex;
    align-items: center;
}

.header__btn-search {
    background-color: #f5f5f5;
    padding: 13px 15px;
    border-radius: 6px;
    margin-left: 10px;
}

.header__btn-search:hover .header__btn-icon {
    color: #fff;
    transition: all 0.3s;

}

.header__btn-list:hover {
    background-color: #48494b;
    transition: all 0.3s;
    cursor: pointer;
}





/* Nav-Sub */





.nav {
    position: relative;
}






.nav-sub-child,
.nav-sub {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 240px;
    background-color: #fff;
    font-weight: 600;
    box-shadow: var(--box-shadow);
    border-radius: 6px;
    padding: 18px 0;
    z-index: 5;
    visibility: hidden;
    overflow:hidden;
    opacity: 0;
    transition: all 0.4s;
}   

.nav-sub-child {

    transition: all 0.3s;
}

.nav-sub-child__link,
.nav-sub__list {
    display:flex;
    align-items: center;
    justify-content:space-between;
    color: var(--black-color);
    font-size: 1.5rem;
    padding: 10px 20px;
    transition: all 0.3s;
    position: relative;
    font-weight: 600;
    width: 100%;

}

.nav-sub__list-icon {

}

.nav-sub-child {
    left: 100% ;
    top: -18px;
}


.nav-sub__link {
    color: var(--black-color);
    width: 100%;
    display: block;
}






/* Nav- Child */





.nav__child {
    background-color: #fff;
    position: absolute;
    top: 100%;
    width:var(--width-pc);
    left: -426px;
    padding: 36px 32px;
    box-shadow: var(--box-shadow);
    border-radius: 6px;
    z-index: 5;
}

.nav__child-heading {
    font-weight: 700;
    color: var(--black-color);
    font-size: 22px;
    padding-bottom: 26px;
    border-bottom: 1px solid #e0dede;
    margin: 0;
}

.nav__child-list {
    margin-top: 30px;
}

.nav__child-anh,
.nav__child-item,
.nav__child-list {
    width: 100%;
    display: block;
}

.nav__child-anh {
    border-radius: 6px;
}


.nav__child-img {
    margin-bottom: 30px;
}

.nav__child-img:hover .nav__child-anh {
    filter: brightness(80%);
    transition: all 0.3s;
}

.nav__child-body {
    font-size: 1.6rem;
    font-weight: 800;
    color: var(--black-color);
    display: block;
}


.nav__child {
    visibility:hidden;
    opacity: 0;
    overflow:hidden;
    transition: all 0.3s;

}



/* Modal */

.modal.open {
    display: flex;
}


.modal {
     position: fixed;
     top: 0;
     right: 0;
     left: 0;
     bottom: 0;
     display: none;
     z-index: 10;

     animation: FaceIn ease-in 0.3s;

     transform-origin: top;
}

.modal__overlay {
    position: absolute;
     width:100%;
     height: 100%;
     background-color: rgba(52, 54, 66, 0.9);
     z-index: 10;
}

.modal__body {
     margin: 0 auto;
     
     position: relative;
     z-index: 100;
     width: 524px;
     display: flex;
     flex-direction: column;

     animation: Show ease-in 0.3s;
}


@keyframes Show {
    from {
        opacity: 0;
        transform: translateY(-60px);
    }

    to {

        opacity: 1;
        transform: translateY(0);
     transition: all 0.3s;


    }
}

.modal__body-close {
    margin-left: auto;
display: block;
font-size: 3rem;
padding: 10px 10px;
color: #fff;
}

.modal__close {
    display: flex;
    width: 100%;

}



.modal__body-sup-pass {

align-self: center;
color: #fff;
text-decoration: underline;
font-size: 1.3rem;
font-weight: 300;
padding: 10px 0;
}




/* Modal -Chính */

.modal {
    font-family: 'Rubik', sans-serif;

}


.modal__inner {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.modal__heading {
    width: 100%;
    display: flex;
    align-items: center;
   

}


.modal__heading-list{
    width: 50%;
    display:flex;
    align-items: center;
    justify-content:center;
    color:#505260;
    padding: 26px 0;
}

.modal__heading-icon {
    font-size: 2rem;
    margin-right: 6px;
}

.modal__heading-text {
    font-weight: 400;
    font-size: 1.5rem;

} 

.modal__heading-choice{
    opacity: 1;
    color:#505260;
    background-color: #fff;


}

.modal__heading-boder-left {
    border-top-left-radius: 6px;
}

.modal__heading-boder-right {
    border-top-right-radius: 6px;
}



.modal__heading-no-choice {
    color: #9f9f9f;
    background-color: #f5f5f5;
}


.modal__sign {
    padding: 30px 20px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #fff;
}

.modal__input {
    --height-input: 52px;

    margin-bottom: 22px;
    border-radius: 6px;
    border: 1px solid #e0dede;
    display: flex;
    align-items: center;
    background-color: #fff;
    min-height: var(--height-input);
}

.input__sign-icon {
    font-size: 2.4rem;
    margin: 0 16px;
    color: #d2d8d8;
}

.input__sign {
    font-size: 1.6rem;
    outline:none;
    border: 0;
    width: 100%;
}

.input__sign-icon-eye {
    color: #000;
    font-size: 1.8rem;
}

.input__sign-line {
    height: 40px;
    width: 1px;
    background-color:#e0dede ;
}

.input__show-pass {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 1.6rem;
}

.input__show-pass input[type=checkbox] {
    /* transform: scale(1.5); */
    zoom: 1.5;
    margin-right: 4px;
} 
.input__show-pass-text {
    color: #424242;
}

.modal__input-btn {
    width: 100%;
    height: 55px;
    font-size: 2rem;
    background-color: #2568ef;
    outline:0;
    border: 0;
    border-radius: 6px;
    color: #fff;
    font-weight: 400;
}

.modal__input-btn:hover {
    background-color: #48494b;
    cursor: pointer;
    transition:all 0.3s;
}

.modal__or {
    text-align: center;
    font-size: 1.5rem;
    margin:16px 0;
    display: block;
    color: #b5bdbd;
}

.modal__container-connect {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    min-width: 280px;
}

.modal__connect {
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding: 6px 0 6px 8px;
    width: 280px;
    margin-bottom: 8px;
}

.modal__connect-icon {
    font-size: 2.8rem;
    color: #fff;
}

.modal__connect-name {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    color: #fff;
    flex:1;
    justify-self: center;
    justify-items: center;
    justify-content: center ;
}

.modal__connet-text {
    font-weight: 500;
    display: inline-block;
    margin-left: 3px;
}

.input__link-more {
    text-decoration: underline;
    color: #2568ef;
}


/* tao moi */

.modal__input-name-container {
    display:flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    

}


.grow-input-sign {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    
}

.modal-input__name {
    display:flex;
    align-items: center;
    width: 100%;
    border: 1px solid #e0dede;
}






.col-input-sign {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
   
}


.modal__show-footer {
    display: none;
}

.input__sign-icon-small {
    font-size: 1.8rem;
}




/* Slider */




.slider {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    height: 600px;

}

.slider__list {
    height: 600px;
    position: relative;
    width: 100%;
    
}
.slider__list:hover .slider__item {
    filter: brightness(50%) ;
    transition: all 0.3s;

}

.slider__item-2,
.slider__item-3,
.slider__item-1 {
    height: 600px;
    background: url(./imgs/slider-1.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    filter: brightness(70%) ;
}

.slider__item-2 {
    background:url(./imgs/slider-2.jpg)
}

.slider__item-3 {
    background:url(./imgs/slider-3.jpg)
}
.slider__img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.slider__img-sub {
    position: absolute;
    z-index: 2;
    top: 150px;
    left: 250px;

}

.slider-img-sub-link {
    font-size: 3.5rem;
    color: #fff;
    font-weight: 700;
}

.slider-img-sub-heading {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/* Slider Sub */

.slider__sub {
    position: absolute;
    bottom: 0;
    right: 0;
    display:flex;
    align-items: center;
    width: 100%;
}

.slider__sub-list {
    background-color: #f5f5f5;
    min-width: 210px;
    padding: 46px 40px 56px 40px;
    color: var(--black-color);
    font-size: 1.6rem;
    font-weight:700
}

.slider__sub-number {
    margin-bottom: 22px;
}


.duoi-slider {
    padding:60px 0px 70px 0;
}

.duoi-slider-text {
    font-size: 1.8rem;
    margin-bottom: 8px;
    font-weight: 800;
    color: var(--black-color);
    display: block;
}

.recent__r-link:hover,
.duoi-slider-text:hover {
    color: var(--blue-color);
    transition: all 0.3s;
}



/* Recent */

.recent-bao {
    padding-right: 30px;
}

.recent__left {
    width: 100%;
    position: relative;
    border-radius: 6px;
}

.recent__left-img {
    border-radius: inherit;
    height: 460px;
    background: url(./imgs/recent.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    filter: brightness(70%) ;
}

.recent-link{
    display:block;
    color: #fff;
    font-size: 2.2rem;
    font-weight: 800;

}

.recent__left-sub {
    position: absolute;
    left: 0;
    bottom: 0;
    padding:0 65px 50px 50px;
}

.recent__left-text {
    font-size: 1.5rem;
    line-height: 1.6;
    margin: 10px 0 0 0 ;
}

.recent__left:hover .recent__left-sub {
    bottom: 20px;
    transition: all 0.3s;
}

/* Recent right */

.recent__r-heading {
    font-size: 3rem;
    margin: 0;
    font-weight: 800;
    padding-bottom: 20px;
    border-bottom: 1px solid #e0dede;
}

.recent__r-link {
    display: block;
    font-size: 1.8rem;
    font-weight: 800;
    padding: 14px 0 0px 0;
    color:var(--black-color)

}

/* technology */

.technology__list{
    display:block;
    
}

.technology {
    margin-bottom: 45px;
}

.technology__img{
    width: 100%;
    border-radius: 6px;
}

.technology__list:hover .technology__img {
    filter: brightness(70%);
    transition: all 0.3s;

}

.technology__more {
    text-align: center;
}

.technology-container {
    padding-bottom: 60px;
}

