/* abover */

.above {
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 58px;
    position: relative;
    overflow:hidden;
}

/* #dec7ff */

.above::after {
    content: "";
    display:block;
    position: absolute;
    z-index: 1;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #dec7ff;
    box-shadow: 0 0 20px #dec7ff6e;
    bottom: -30px;
    right: 2%;

}

.above::before {
    content: "";
    display:block;
    position: absolute;
    z-index: 1;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fe0068;
    box-shadow: 0 0 20px var(--pink-color);
    bottom: -55px;
    left: 12%;

}

.above__new {
    text-transform: uppercase;
    color: #fff;
    padding: 7px 6px 6px 6px;
    background-color: #4cc493;
    border-radius: 4px;
    margin-right: 12px;
    font-size: 1.2rem;
}

.above__text {
    font-size: 1.5rem;
    color: #fff;

}

.above__link {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 20px;
    color: #fff;
    display:flex;
    align-items: center;
}

.above__link-icon {
    margin-left: 6px;
    font-size: 1.4rem;
}


/* header */
/* header__connect */

.header__connect {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    padding: 12px 0;
    border-bottom: 1px solid #e0dede;
}

.header__connect-link {
    color: var(--black-color);
    padding: 10px 0;
    font-weight: 600;
    transition: all 0.3s;

    
}

.header__connect-icon {
    padding-right: 16px;
}

.header__connect-present {
    padding-right: 18px;
}

.header__connect-present:nth-child(5){
    padding-left: 8px;
}

.header__connect-sign {
    padding: 10px 11px;
    font-weight: 600;
    transition: all 0.3s;

}



/* header-chính */

.header__main {
    display: flex;
    align-items: center;
    min-height: 100px;
}

.header__logo-img {
    display:block;
    width: 164px;
    margin-right: 32px;
}


.nav { 
    padding-left: 0;
    list-style: none;
    display:flex;
    align-items: center;

}
.nav__list {
    padding: 14px 18px;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    font-weight: 600;
    transition: all 0.3s;
    position: relative;

}

.nav__list-icon {
    margin-left: 10px;
}

.header__logo-link {
    display:block;
}

.header__btn {
    margin-left: auto;
}

.header__btn-icon {
    font-size: 1.8rem;
    position: relative;
    top: 2px;
   
}

.header__btn {
    display: flex;
    align-items: center;
}

.header__btn-search {
    background-color: #f5f5f5;
    padding: 13px 15px;
    border-radius: 6px;
    margin-left: 10px;
}

.header__btn-list:hover {
    background-color: #48494b;
    transition: all 0.3s;
    cursor: pointer;
}

/* nav-sub */

.nav-sub__list:hover .nav-sub-child,
.nav__list:hover .nav-sub {
    visibility: visible;
    overflow:visible;
    opacity: 1;
}



.nav-sub-child,
.nav-sub {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 240px;
    font-weight: 600;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 18px 0;

    visibility: hidden;
    overflow:hidden;
    opacity: 0;
    transition: all 0.4s;
}   

.nav-sub-child {

    transition: all 0.3s;
}

.nav-sub-child__link,
.nav-sub__list {
    display:flex;
    align-items: center;
    justify-content:space-between;
    color: var(--black-color);
    font-size: 1.5rem;
    padding: 10px 20px;
    transition: all 0.3s;
    position: relative;
    font-weight: 600;
    width: 100%;

}

.nav-sub__list-icon {

}

.nav-sub-child {
    left: 100% ;
    top: -18px;
}


.nav-sub__link {
    color: var(--black-color);
    width: 100%;
    display: block;
}
